<%- include("partials/header"); %>
<h1><%= title %></h1>

<!-- <%= new Date()  %> -->

<% if(isActive) { %>
<p>The server is on</p>
<% } else { %>
<p>The server is off</p>
<% } %>

<ul>
<% for(let i=0;i<users.length;i++) { %>
<li><%= users[i].id%>.- <%= users[i].name%> <%= users[i].lastname%></li>
<% } %>    
</ul>

<%- include("partials/footer"); %>
